In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Taxi.csv')
df.head(10)

,priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders,Unnamed: 5
0,15.0,1800000,5800,50,192000,NaN
1,15.0,1790000,6200,50,190400,NaN
2,15.0,1780000,6400,60,191200,NaN
3,25.0,1778000,6500,60,177600,NaN
4,25.0,1750000,6550,60,176800,NaN
5,25.0,1740000,6580,70,178400,NaN
6,25.0,1725000,8200,75,180800,NaN
7,30.0,1725000,8600,75,175200,NaN
8,30.0,1720000,8800,75,174400,NaN
9,30.0,1705000,9200,80,173920,NaN

In [4]:
df = df.drop('Unnamed: 5', axis=1)
df.head(10)

,priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15.0,1800000,5800,50,192000
1,15.0,1790000,6200,50,190400
2,15.0,1780000,6400,60,191200
3,25.0,1778000,6500,60,177600
4,25.0,1750000,6550,60,176800
5,25.0,1740000,6580,70,178400
6,25.0,1725000,8200,75,180800
7,30.0,1725000,8600,75,175200
8,30.0,1720000,8800,75,174400
9,30.0,1705000,9200,80,173920

In [5]:
df.isnull().sum()

priceperweek              15
Population                 0
Monthlyincome              0
Averageparkingpermonth     0
Numberofweeklyriders       0
dtype: int64

In [8]:
df['priceperweek'] = df['priceperweek'].fillna(df['priceperweek'].mean())
df.isnull().sum()

priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [9]:
x = df.drop('Numberofweeklyriders', axis=1)
y = df['Numberofweeklyriders']
print(x.head())
print(y.head())

   priceperweek  Population  Monthlyincome  Averageparkingpermonth
0          15.0     1800000           5800                      50
1          15.0     1790000           6200                      50
2          15.0     1780000           6400                      60
3          25.0     1778000           6500                      60
4          25.0     1750000           6550                      60
0    192000
1    190400
2    191200
3    177600
4    176800
Name: Numberofweeklyriders, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=51)

In [11]:
x_train.shape

(21, 4)

In [12]:
x_test.shape

(6, 4)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lr = LinearRegression()
lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)
r2_score(y_test, pred_lr)*100

99.98675959635797

In [14]:
from sklearn.linear_model import LogisticRegression
lr_r = LinearRegression()
lr_r.fit(x_train, y_train)
pred_lr_r = lr_r.predict(x_test)
r2_score(y_test, pred_lr)*100

99.98675959635797

In [15]:
import joblib
joblib.dump(lr, 'Taxi.pkl')

['Taxi.pkl']

In [16]:
model = joblib.load('Taxi.pkl')